.page {
    padding: 1rem 7%;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
}

.button {
    width: 20%;
    height: 2.6rem;
    font-size: 1rem;
    background-color: var(--dark-yellow);
    color: white;
    border: 1px solid var(--dark-yellow);
    font-family: inherit;
    cursor: pointer;
    margin: 3rem 0;
    align-self: center;
}

.button:hover,
.button:active {
    color: var(--dark-yellow);
    background-color: #f5dede;
    border: 1px solid var(--dark-yellow);
}

@media (max-width: 40rem) {
}