.nav {
    position: fixed;
    width: calc(100vw - 14%);
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 0 7%;
}

.navLogo {
    display: flex;
    align-items: center;
    margin-left: -0.5rem;
}

.formItem {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    height: 2rem;
    width: 100%;
    margin: 0 2rem;
}

.formItemSearchDarkTheme {
    background-color: rgb(44, 44, 44);
}

.formItemSearchLightTheme {
    background-color: rgb(244, 244, 244);
}

.icon {
    color: rgb(122, 122, 122);
}

.formItem input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;
    padding-left: 0.5rem;
    font-family: inherit;
    color: white;
}

.formItem input:focus {
    outline: none;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
}

.linkDarkTheme {
    color: white;
}

.linkLightTheme {
    color: var(--main-text);
}

.link:hover,
.link:active {
    color: var(--dark-yellow);
}

.logoLink { 
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo {
    color: var(--yellow);
    font-weight: bold;
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.logoText {
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.5rem;
}

.username{ 
    margin-right: 0.5rem;
    margin-left: 1.5rem;
}

.menuIcon {
    display: none;
    cursor: pointer;
}

.menuIconDarkTheme {
    color: white;
}

.menuIconLightTheme {
    color: var(--main-text);
}

.mobileNav {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background-color: white;
    color: white;
    width: 60%;
    height: 100vh;
}

.mobileNavLinks {
    display: flex;
    flex-direction: column;
    margin-top: 30%;
}

.mobileLink {
    text-decoration: none;
    color: var(--main-text);
    padding: 0.5rem 2rem;
    font-size: 0.95rem;
}

.mobileLink:hover,
.mobileLink:active {
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--dark-yellow);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 62rem) {
    .link {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}

@media (max-width: 50rem) {
    .formItem {
        display: none;
    }
}

@media (max-width: 40rem) {
    .nav {
        padding: 0 5%;
        width: calc(100vw - 10%);
    }

    .navLogo {
        flex: 1;
    }

    .formItem {
        margin: 0 2rem;
        display: flex;
    }

    .link {
        display: none;
    }

    .menuIcon {
        display: inline;
    }

    .logo {
        width: 2.3rem;
        height: 2.3rem;
    }

    .logoText {
        font-size: 1.3rem;
        margin-left: -0.8rem;
    }
}