@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --yellow: #bb2828;
    --dark-yellow: #b01616;
    --darker-yellow: #9d0000;
    --main-text: #3b3b3b;
    --border-gray: rgb(163, 163, 163);
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--main-text);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}